<div class="row">
    <ol class="breadcrumb">
        <li>
            Home
        </li>
    </ol>
</div>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Tela Inicial</h1>
    </div>
</div>