<div class="row">
    <div class="col-lg-4 col-lg-offset-5">
        <div class="panel panel-default" id="painelLogin">
            <div class="panel-body">

                <form>
                    <div class="form-group">
                        {{input
                            type='email'
                            class='form-control'
                            value=email
                            placeholder='Email'
                        }}
                    </div>
                    <div class="form-group">
                        {{input
                            type='password'
                            class='form-control'
                            value=password
                            placeholder='Senha'
                        }}
                    </div>
                    {{#if session.isWorking}}
                        <a href="" disabled="disabled" class="btn btn-primary col-lg-12 col-sm-12 col-md-12">
                            <i class="fa fa-spinner fa-pulse" aria-hidden="true"></i> Logando</a>
                    {{else}}
                        <a href="" {{action 'login' 'password'}} class="btn btn-primary col-lg-12 col-sm-12 col-md-12"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
                    {{/if}}
                    
                </form>

            </div>
        </div>
    </div>
</div>
<!--
        <div class='page-header'>
            <h1>You must be signed in to use this app</h1>
        </div>
        <div class='list-group'>
            {{#link-to 'sign-up' class='list-group-item'}} Sign Up {{/link-to}} {{#link-to 'sign-in' class='list-group-item'}} Sign In
            {{/link-to}}
        </div>
-->